<h1>Group Routing in Angular</h1>
<div>Admin page
  <ul>
    <li>
      <a routerLink="admin/login">Login</a>
    </li>
    <li>
      <a routerLink="admin/list">List</a>
    </li>
  </ul>
</div>
<div>User page
  <ul>
    <li>
      <a routerLink="user/login">Login</a>
    </li>
    <li>
      <a routerLink="user/list">List</a>
    </li>
  </ul>
</div>

<button (click)="loadAdmin()">Load Admin list</button>
<br><br>
<button (click)="loadUser()">Load User list</button>

<router-outlet></router-outlet>
